<h2>Favorited Pets</h2>
<p> <%= button_to "Remove All Pets From Favorites", "/favorites", method: :delete %></p>

<% @pets.each do |pet| %>

<%  if @favorites.map(&:to_i).include?(pet.id) %>
<h1>   Name: <%= pet.name %> </h1>
<%=    image_tag(pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
<p> <%= button_to "Remove Pet From Favorites", "/favorites/#{pet.id}", method: :delete %></p>
<%  end %>

<% end %>

  

